In [8]:
import os
from binance.client import Client

In [9]:
# init
api_key = os.environ.get('tlWt4uZtRKphVI7EDeUeHuVoxqMkwMCySrEZfP2cCBnqqeXcxi62ohjspMbTYJzj')
api_secret = os.environ.get('FIVrfPYIcIDZMuxmokbtxp2uQu43N6m5ykXxFSZV8ts11wTY4WNP8Y50AuURoW82')

In [10]:

client = Client(api_key, api_secret)

In [12]:
import numpy as np
import pandas as pd

symbol = "BNBUSDT"
timeframe = client.KLINE_INTERVAL_4HOUR 
# fetch 30 minute klines for the last month of 2017

klines = client.get_historical_klines(symbol=symbol, interval=timeframe, start_str="1 Dec, 2017")
df =  pd.DataFrame(klines)
dfFreqTrade = df.iloc[:,:6]

file = open(r'F:\\data\\crypto\\'+symbol+'-'+timeframe+'.json', "w+")
arrayFreqTrade = np.array(dfFreqTrade.values)
# Saving the 2D array in a text file

file.write('[')
secondLast = len(arrayFreqTrade) - 1
for i in range(secondLast):
    content = np.array2string(arrayFreqTrade[i],separator=',').replace('\'','').replace('\n','') + ','
    file.write(content)

content = np.array2string(arrayFreqTrade[i],separator=',').replace('\'','').replace('\n','')
file.write(content)
file.write(']')
file.close()

In [13]:
df_candle = pd.DataFrame(klines, columns = ['date', 'open', 'high', 'low', 'close', 'volume', 'close_time', 'Quote_asste_vol', 'Number_of_trade', 'buy_base_vol', 'buy_quo_vol', 'Ignore'])

In [14]:
df_candle.head()

,date,open,high,low,close,volume,close_time,Quote_asste_vol,Number_of_trade,buy_base_vol,buy_quo_vol,Ignore
0,1512086400000,1.95000000,1.98000000,1.88010000,1.98000000,49292.92000000,1512100799999,95794.14570100,425,30277.12000000,58985.09404900,104731894.72013986
1,1512100800000,1.97180000,2.01000000,1.90000000,1.96980000,36108.92000000,1512115199999,71105.44695500,309,18598.55000000,36826.07212100,104723917.47425094
2,1512115200000,1.96000000,2.02960000,1.96000000,2.02500000,35042.78000000,1512129599999,70341.94838700,218,29803.70000000,59875.18500600,104723762.56548274
3,1512129600000,2.02500000,2.13850000,2.01100000,2.04980000,114665.04000000,1512143999999,238523.74872700,615,89920.19000000,186941.74517600,104737056.65601752
4,1512144000000,2.04980000,2.04980000,1.98450000,2.01880000,47232.92000000,1512158399999,94868.04883900,468,12779.77000000,25848.03642600,104731851.66051985